<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>
    <style>
        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 150%;
        }
        img {

            height: 20%;
            width: 20%;
            
        }
        h1 {

            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>
<body>
    <h1>Top news headlines:</h1>
    <a href="{{ urla }}"><img src="{{ ima }}"></img></a>
    <p>{{ a }}</p>
    <a href="{{ urlb }}"><img src="{{ imb }}"></img></a>
    <p>{{ b }}</p>
    <a href="{{ urlc }}"><img src="{{ imc }}"></img></a>
    <p>{{ c }}</p>
    <a href="{{ urld }}"><img src="{{ imd }}"></img></a>
    <p>{{ d }}</p>
    <a href="{{ urle }}"><img src="{{ ime }}"></img></a>
    <p>{{ e }}</p>
    <a href="{{ urlf }}"><img src="{{ imf }}"></img></a>
    <p>{{ f }}</p>
    <a href="{{ urlg }}"><img src="{{ img }}"></img></a>
    <p>{{ g }}</p>
    <a href="{{ urlh }}"><img src="{{ imh }}"></img></a>
    <p>{{ h }}</p>
    <a href="{{ urli }}"><img src="{{ imi }}"></img></a>
    <p>{{ i }}</p>
    <a href="{{ urlj }}"><img src="{{ imj }}"></img></a>
    <p>{{ j }}</p>
    

</body>
</html>